{% extends "shortest_path/template/index.template.html" %}
{% load staticfiles %}

{% block additional_styles %}
<link rel="stylesheet" href="{% static 'css/home.css' %}" type="text/css">
{% endblock %}

<!-- Navbard -->
{% block navbar_content %}
<div class="fixed-nav border-bottom-light">
    <nav class="navbar navbar-expand-lg navbar-light px-0 pt-3 container">
        <a class="navbar-brand mr-5" href="{% url 'index:index' %}">
            <span class="mb-0 h1 mobile-text-sm"> Analysis of Algorithm </span>
        </a>
    </nav>
</div>
{% endblock navbar_content%}

<!--  Page Content -->
{% block content %}
<div id="home-content-container">
    {% block page_content %}
    {% endblock page_content %}
</div>
{% endblock content%}



{% block footer_content %}

<div class="footer">
    <div class="container">
        <ul>
            <li>
                <p>&copy; 2018 Copyright. All Rights Reserved.</p>
            </li>
        </ul>
    </div>
</div>
{% endblock footer_content%}