<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %} Analysis of Algorithm {% endblock title %}</title>
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
        <link rel="stylesheet" href="{% static 'css/site_index.css' %}" type="text/css">
    
        {% block additional_styles %}{% endblock %}
    </head>
    <body>

        {% block navbar_content %}
        {% endblock navbar_content%}

        {% block content %}
        {% endblock content%}

        {% block footer_content %}
        {% endblock footer_content%}
        
    <script type="text/javascript" src="{% static 'jquery/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/site_index.js' %}"></script>
    <!-- Include the Google Maps API library - required for embedding maps -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAnsSTapw1OcTHwiYukC9iFxtamxP0f6-E"></script>
    {% block additional_scripts %}{% endblock %}
    </body>
</html>
    
    
