:root {
    /* Color */
    --main-site-khaki: #E9DD5A;
    --main-site-seagreen: #249E69;
    --main-site-brown: #461332;
    --main-site-aquamarine:#83C6A9;
    --main-site-slate:#788A84;
    --main-accent-color: #ffc107;
    --main-green-color: #1ca065;
    --color-half-white: #F4F5F7;

    /* Border */
    --main-border-radius: 0.4rem;
    --default-border-thin: thin solid lightgray;
    /*  */
}

html {
    /* Setting the REMs units to represent 10px = 1 rem */
    Font-size: 62.5%;

	padding:0;
	margin:0;
}

body {
    font-family: 'Nunito', 'Sans-serif', Arial;
    color: black;
    background-color: white;
    font-size: 1.5em !important;
    -webkit-font-smoothing:  antialiased;
    padding: 0;
	margin: 0;
	font-size: 14px;
}

* {
    box-sizing: border-box;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

textarea:focus,
input:focus {
    outline: none;
    box-shadow: inset 0 0 1px 0 #0000001f, inset 0 0 5px 0 #00000008;
}

textarea {
    border-radius: 0.4rem;
    overflow: hidden;
    font-size: 14px;
}

input[type=text], 
input[type=password], 
input[type=email],
input[type=date],
textarea {
    padding: 0.75rem 1.25rem;
    border-radius: var(--main-border-radius);
    border: thin solid lightgray;
    font-size: 14px;
    transition: box-shadow 0.3s ease 0s;
}

button:focus {
    outline: none;
}

.main-app {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 0px auto;
    grid-template-areas: 
        "main-app-header main-app-header"
        "main-app-content main-app-content"
}

.main-content-left {
    grid-area: main-content-left;
    display: grid;
    padding: 1.5rem;
    grid-template-columns: auto;
    grid-template-rows: auto 200px;
}
.main-app-content-extended-right,
.main-app-content {
    grid-area: main-app-content;
    overflow: hidden;
    display: grid;
    grid-template-columns: 240px auto 300px;
    grid-template-rows: auto;
    grid-template-areas: "main-content-left main-content-area main-content-right";
}

.main-app-content-extended-right {
    grid-template-columns: 240px auto 450px ;
}


.main-app-header  {
    display: none !important;
    grid-area: main-app-header ;
    padding: 1.75rem 1.25rem;
    z-index: 1;
}

.main-content-area {
    grid-area: main-content-area;
    background:var(--color-half-white);
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 1em;
}

.main-content-right{
    grid-area: main-content-right;
    padding: 1.5rem;
}

.main-content {
    max-width: 96rem;
    margin: 3rem auto 0rem;
    padding: 0rem 4rem;
    /* height: 1000px; */
}

/* Flex */

.flex {
    display: flex;
    flex: 1;
}

.flex-hor {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Images */

.brand-icon {
    display: block;
    max-width:50px;
    max-height:50px;
    width: auto;
    height: auto;
}


/* Font */

.brand-font {
    font-size: 14px;
    line-height: 1;
}

/* Color */

.color-green {
    color: var(--main-green-color);
}

/* Input */

.input-group {
    display: block;
}
.input-group > * {
    display: block;
    width: 100%;
}

.input-group > label {
    font-weight: bold;
}

.table td.fit, 
.table th.fit {
    white-space: nowrap;
    width: 1%;
}