{% extends "shortest_path/template/home.template.html" %}
{% load staticfiles %}

{% block title %}
{{ block.super }}
{% endblock %}


{% block page_content %}

<!-- Jumbotrom -->

<div id="googlemaps" ng-init="initializeMaps()" class="page-header header-filter ng-cloak hide-on-med-and-down" data-parallax="active"
  style="transform: translate3d(0px, 0px, 0px);background-size: contain;">
 </div>
<div class="main_header_section main-containter" data-parallax="active" style="position:absolute;bottom:0;">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 d-sm-block">
        </div>
        <div class="col-lg-6 shadow rounded col-md-6 col-sm-12" style="background-color: rgba(255, 255, 255, .66);">
            <div class="promo_content">
                <h1 class="title-xl-bold" style="color: #4e4848;"> Shortest Paths Between Jamaican Towns Project  </h1>
            </div>
        </div>
    </div>
</div>

<!-- Contact Section -->

<div class="contact_us_section section general_padding main-containter">
    <div class="main-containter">
        <div class="row mt-3">
            <div class="col text-center">
                <h1 class="section_header_title">Group Members</h1>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col text-left">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-4">
                        <div class="row contact-card bg-light">
                            <div class="col-lg-3 col-sm-12 pl-0 text-center">
                                <img class="contact_us_icons" src="/static/images/man.png">
                            </div>
                            <div class="col-lg-9 col-sm-12 text-center-sm p-0">
                                <h3 class="mb-2 font-weight-bold">JeVaughn Ferguson</h3>
                                <p class="mb-0 text-muted">1206909</p>
                                <p class="mb-0 text-muted">da3ferg@gmail.com</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4">
                        <div class="row contact-card bg-light">
                            <div class="col-lg-3 col-sm-12 pl-0 text-center">
                                <img class="contact_us_icons" src="/static/images/woman.png">
                            </div>
                            <div class="col-lg-9 col-sm-12 text-center-sm p-0">
                                <h3 class="mb-2 font-weight-bold">Shanel Bailey</h3>
                                <p class="mb-0 text-muted">1600170</p>
                                <p class="mb-0 text-muted">shanelbailey.sb@gmail</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-4">
                        <div class="row contact-card bg-light">
                            <div class="col-lg-3 col-sm-12 pl-0 text-center">
                                <img class="contact_us_icons" src="/static/images/man.png">
                            </div>
                            <div class="col-lg-9 col-sm-12 text-center-sm p-0">
                                <h3 class="mb-2 font-weight-bold">Leathon Gregory</h3>
                                <p class="mb-0 text-muted">1601444</p>
                                <p class="mb-0 text-muted">leathongregory@gmail.com</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Services Section -->

<div class="services_section section container">
    <div class="main-containter">
        <div class="row mt-5 mb-2">
            <div class="col text-center">
                <h1 class="services_section_header section_header_title">Table Showing The Shortest Distance Between 51 Towns using the <b>Dijkstra Algorithm</b></h1>
            </div>
        </div>
        <div class="row mt-3">
            <div class="table-responsive">
                {{shortest_path_table | safe }}
            </div>
            <caption class="pt-5 pb-5">
                <form action="{% url 'index:download_shortest_path' %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-light">Download</button>
                </form>
            </caption>
        </div>
    </div>
</div>

<!-- FAQ Section -->

<div class="faq_section section general_padding main-containter">
    <div class="main-containter">
        <div class="row mt-2 mb-2">
            <div class="col text-center">
                <h1 class="section_header_title ">Distance and Route Between Two Cities</h1>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-12 col-md-12 col-sm-12 text-right">
                <div class="row">
                    <div class="col">
                      <form method="post" id="route_cost" action="{% url 'index:get_shortest_path' %}">
                        {% csrf_token %}
                                <table class="table">
                                    <tr>
                                        <td style="width:75%;">
                                            <table style="width: 100%;" class="table table-borderless">
                                                <tr>
                                                    <td>
                                                       <label for="distanceFrom">Distance From</label> 
                                                    </td>
                                                    <td>
                                                        <select class="form-control" style="height: 32px" name="source" id="distanceFrom">
                                                          {% for i in towns %}
                                                          <option value="{{i}}">{{i | title}}</option>
                                                          {% endfor %}
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <label for="distanceTo">Distance To</label>
                                                    </td>
                                                    <td>
                                                        <select name="destination" style="height: 32px" class="form-control" id="distanceTo">
                                                          {% for i in towns %}
                                                          <option value="{{i}}">{{i | title}}</option>
                                                          {% endfor %}
                                                        </select>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                        <td style="text-align: left;vertical-align: middle;" rowspan="3">
                                                <button style="font-size: 18px;" type="submit" class="btn btn-primary">Get Route and Distance</button>
                                        </td>
                                    </tr>
                                </table>
                        </form>

                        <table class="table">
                            <tr>
                                <td style="text-align: left" colspan="2">
                                    <div id="results"></div>
                                    <div id="results_cost"></div>
                                    <img id="sub_graph" class="img-responsive">
                                </td>
                            </tr>
                        </table>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>



<!-- Main Footer Section -->


{% endblock page_content %}

{% block additional_scripts %}
{% endblock %}