/* 
 * Main Layout 
 * ===================================================================== 
 */

 html {
    /* Setting the REMs units to represent 10px = 1 rem */
    font-size: 62.5%;
}

body {
    font-size: 1.5em !important;
	font-family: 'Nunito', 'Sans-serif', Arial;
    -webkit-font-smoothing:  antialiased;
    /* color: black; */
    padding: 0;
	margin: 0;
	font-size: 14px;
}

:root {
  --main-site-khaki: #E9DD5A;
  --main-site-seagreen: #249E69;
  --main-site-brown: #461332;
  --main-site-aquamarine:#83C6A9;
  --main-site-slate:#788A84;
  --main-accent-color: #ffc107;
  --main-green-color: #1ca065
}

/* 
	tag{
		property: var(--main-bg-color);
	}
*/

nav {
    background: none;
    box-shadow: none;
    color: black;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

p {
	line-height: 1.75;
	margin: 0;
}

input {
	border: thin solid lightgray;
	padding: 11px 12px;
	border-radius: 4px
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.main-containter {
	max-width: 1260px;
	margin-left: auto !important;
	margin-right: auto !important;
}

.main_banner_section, .main_footer_section{
	width: initial;
	padding:5px 50px 5px 50px;
	margin:0;
	height:60px;
	color:black;
}



.main_banner_section .banner_section_list,
		.main_footer_section .banner_section_list{
		list-style-type: none;
		margin: 0;
		padding: 0;
		width:100%;
		overflow: hidden;
}

.main_banner_section .banner_section_list li,
		.main_footer_section .banner_section_list li {
		float:left;
}

.main_banner_section 
	.banner_section_list 
		li .banner_section_list_items, 
		.main_footer_section 
			.banner_section_list 
				li .banner_section_list_items{
			  display: block;
			  text-align: center;
			  padding: 14px 16px;
			  text-decoration: none;
}
.main_banner_section 
	.banner_section_list 
		li .banner_section_list_items .banner_section_list_image{
			background-position: center;
			width: 70px;
			height: 32px;
			background-repeat: no-repeat;
			background-size: contain;
}
.main_banner_section 
	.banner_section_list 
		li.financier_international_faq{
			margin:0px 0px 0px 15px;/*t/r/b/l*/
}

.main_banner_section 
	.brand_image{
		width: 40px;
		height:32px;
}

.main_banner_section 
	.company_name_tag{
		padding: 0;
		margin: 0;
}

.main_banner_section 
	.company_name_tag_format{
		font-weight: bolder;
}

.financier_international_faq{
	font-variant:small-caps;
}

.financier_international_faq a{
	text-decoration: none;
	border-bottom: 2px;
	border-bottom-style: solid;
	border-bottom-color: var(--main-accent-color); 
	color:  var(--main-accent-color) !important;
	font-size: 1em;
}

.financier_international_faq a:visited, 
	.financier_international_faq a:hover{
		color:black; 
}

.financier_international_faq a:hover{
	border-bottom: 2.5px;
	border-bottom-style: solid;
	border-bottom-color: var(--main-accent-color); 
}

.section {
	padding-top: 30px;
	padding-bottom: 30px;
}

.main_header_section{
	/* padding:0; */
	margin: 25px 0 25px 0;
	overflow: hidden;
}

.footer {
	background: #F1F1F1;
	padding-top: 3rem;
	padding-bottom: 6rem;
	color: gray;
}

.footer ul{
}

.footer ul > li{
	display: inline;
}

.footer ul > li:last-child {
	margin-left: auto;
	margin-right: 0;
}

.general_padding{
	padding-left: 95px !important;
	padding-right: 95px !important;
}


.promo_image_section .promo_image{
	background-color: #cccccc; 
	height: 500px;
	background-position: center;
	background-repeat: no-repeat; 
	background-size: cover; 
}


.img-resp {
	height: auto;
	width: 100%;
}

.img-md, .img-lg, .img-xs {
	background-position: center;
	background-repeat: no-repeat; 
	background-size: cover;
}

.img-md {
	height: auto;
	width: 200px;
}

.img-sm-md {
	height: auto;
	width: 150px;
}

.img-lg {
	height: auto;
	width: 350px;
}

.img-xs {
    height: auto;
    width: 30px;
}

.promo_content_section .promo_content h1{
	font-size:4em;
}

.promo_content_section .promo_content{
	padding: 10px 0 0 0;
}

.user_action_btn{
	font-variant:small-caps;
}

.about_img{
	width: 150px;
}

.about_us_member_card{
	/* width: 178px; */
	overflow: hidden;
	border:none;
	background-color: transparent;
}

.service_item_card{
	width: 135px;
	overflow: hidden;
	border:none;
	background-color: transparent;
}

.about_us_member_image{
	display:inline;
	width: 150px;
	height:150px;
	border-radius:50%;
	background-position: center center;
	background-size:cover;
	background-repeat:no-repeat;
}


.service_t1{
	font-size: 8pt;
}

.service_t2{
	font-size: 8pt;
	font-weight: bolder;
}

.about_us_member_t1, 
.about_us_member_t2 {
	font-size:14px;
	margin-bottom: 0;
}

.section_header_title{
	font-weight: bolder;
	text-transform: uppercase;
	margin: 25px 0;
}

.about_us_banner{
	padding-left: 40px;
}

.about_section{
    background-color: rgb(254,250,238);
    /* padding: 25px 0 25px 0; */
}

.about_us_banner_img{
	width:200px;
	height: 165px;
}

.contact_us_icons{
	width: 60px;
    height: 60px;
}

.get_started_section{

}

.main_footer_section{
	background-color:rgb(229,229,229);
	margin-bottom: 0;
}

canvas {
  display: block;
    position: absolute;
    z-index: -1;
    margin-left:-90px;

}

.default-shadow,
.default-shadow-hover:hover {
	box-shadow: 0 2px 12px 0 #00000017, 0 1px 4px 0 #0000000d;
}


.contact-card {
	box-shadow: 0 0 17px 0 #00000012, 0 0 2px 0 #00000024;
    padding: 1.5rem 2.5rem;
    border-radius: 3px;
	border: thin solid lightgray;
	margin: 0 0.5rem;
}

/* Titles */

.title-xl-bold {
    font-weight: bold;
    font-size: 4em;
}

.title-md {
	font-size: 1.5em;
}


.text-md {
	font-size: 16px;
}

/* alignment */

.flex-item-center {
	align-items: initial;
    display: flex;
}

.flex-item-center-horizontal {
	justify-content: center;
    display: flex;
}

.flex-vertical {
	flex-direction: column;
}

.flex-horizontal {
	flex-direction: row;
}

.flex-grow {
	flex-grow: 1;
}

.fixed-nav {
	position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* height: 6rem; */
    z-index: 1;
    background-color: white;
}

.fixed-nav-content-spacing {
	margin-top: 5rem;
}

.margin-center {
	margin: 0 auto;
	text-align: center;
}

.width-100 {
	width: 100%;;
}

.mt-8 {
	margin-top: 8rem;
}
/* butttons */

.welcome-btn {
	padding: 1rem 2.5em;
	font-size: 1.5rem;
	font-weight: bold;
}

.btn.light,
.welcome-btn.light{
	background-color: transparent;
	color: var(--main-accent-color);
	border: thin solid var(--main-accent-color);
}

.btn.fill,
.welcome-btn.fill{
	background-color: var(--main-accent-color);
	color: white;
}

a.link {
	color: var(--main-accent-color);
	text-decoration: none
}

a.link:hover {
	text-decoration: underline
}

.underline {
	text-decoration: underline;	
}

/* colour */


.text-white-color {
	color: white;
}

.text-accent-color {
	color: var(--main-accent-color);
}

.text-green-color {
	color: var(--main-green-color);
}

.bk-green-color {
	background: var(--main-green-color);
}

/* border */

.border-bottom-light {
	border-bottom: thin solid lightgray;
}

.border-accent {
	border: thin solid var(--main-accent-color);
}

.border-green {
	border: thin solid var(--main-green-color);

}

/* Bootstrap override */

.btn, a {
	font-size: 14px;
}

/* Padding */

.padding-hor-md {
	padding-left: 2rem; 
	padding-right: 2rem; 
}

.padding-hor-lg {
	padding-left: 3.5rem; 
	padding-right: 3.5rem; 
}

/* images */

.featured-image-md {
	background-color: #cccccc;
	height: 250px;
	width: 85%;
	margin: 0 auto; 
	background-position: center; 
	background-repeat: no-repeat; 
	background-size: cover;
}

/* navbar */


.nav-menu {
	margin: 0 3rem; 
}

.nav-menu li a {
	color: var(--main-accent-color);
	text-decoration: none;
	border-radius: 0.3rem;
	padding: 0.75rem 1rem;
	width: 3remπ;
}

.nav-menu li a:hover {
	background: var(--main-accent-color);
	text-decoration: none;
	color: white;	
}


ul.nav-menu li {
	margin-right: 1rem;
}
ul.nav-menu li:last-child {
	margin-right: 0rem;
}

.nav-right-container {
	margin-right: 0;
	margin-left: auto;
}

ul.nav-menu,
ul.nav-right {    
	list-style: none;
    margin: 0;
    padding: 0;
}

ul.nav-menu li,
ul.nav-right li {    
	display: inline;
}


/* Font Awesome */

.icon-b::before, .icon-a::after {
	display: none;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
}

/* large view*/
@media screen and (max-width: 1024px) {
	.title-xl-bold {
		font-size: 3.5em !important; 
	}
}


/*Medium view*/
@media screen and (max-width: 768px) {
	.general_padding{
		padding-left:15px !important;
		padding-right:15px !important;
  	}
  	.main_banner_section, .main_footer_section{
		padding: 5px;
  	}
  	.general_padding_nav{
		padding-left:5px !important;
		padding-right:5px !important;
  	}
  	.navbar-brand{
		margin-right: 0;
  	}
  	.text-center-sm{
		text-align: center;
  	}
  	#canvas_animation_container{
		margin-left:-15px !important;
  	}

  	.title-xl-bold {
		font-size: 2.5em !important; 
 	}

	.title-md {
		line-height: 1.35;
	}

	.welcome-btn {
		padding: 0.5rem 1em;
	}

	.promo_image_section .promo_image {
		height: 400px;
	}

	.section {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.contact-card {
		margin-bottom: 2rem;
	}
	.nav-right-container {
		display: none;
	}
	
}


@media screen and (max-width: 425px) {
	.mobile-text-sm {
		font-size: 1.2em;
	}

	.mob-center-text {
		text-align: center !important;
	}

	.mob-center-left{
		text-align: left !important;
	}

	.padding-hor-lg , .padding-hor-md{
		padding-left: 0.5rem;
    	padding-right: 0.5rem;
	}

	.promo_image_section .promo_image {
		margin: 0 auto;
		width: 100%;
		height: 300px;
	}

	#canvas_animation_container{
		display: none !important;
	}
	  
	#login-container .login-form-container,
	#login-container .register-form-container {
		padding: 30px 25px !important;
		width: 90% !important;
	}

	.mod-mt-1 {
		margin-top: 1.3rem;
	}
}

.header-filter .container {
    z-index: 2;
    position: relative;
}
.header-filter {
    position: relative;
}
.page-header {
    height: 100vh;
    background-size: cover;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    background-position: center center;
    margin: 0px;
    padding: 0px;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
}