#login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
    /* background-image: linear-gradient(to right, rgb(255, 212, 76), rgb(255, 194, 0)); */
}

#login-container > .wrapper {
    z-index: 2;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bk-pos {
	background-position: center; 
	background-repeat: no-repeat;
	background-size: cover; 
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.63), rgba(103, 78, 2, 0.38));
    z-index: 1;
    overflow-y: auto;
}

#login-container .register-form-container,
#login-container .login-form-container {
    background-color: white;
    width: 100%;
    padding: 40px 32px;
    border: thin solid lightgray;
    border-radius: 4px; 
    box-shadow: 0px 3px 9px 0 #00000017;
    z-index: 2;
}
#login-container .login-form-container {
    max-width: 450px;
    margin: 0 auto;
}

#login-container .register-form-container {
    max-width: 550px;
    margin: 0 auto;
}

#login-container .login-form-container label,
#login-container .login-form-container input[type=text], 
#login-container .login-form-container input[type=email], 
#login-container .login-form-container input[type=password],
#login-container .register-form-container label,
#login-container .register-form-container input[type=text], 
#login-container .register-form-container input[type=email], 
#login-container .register-form-container input[type=password] {
    display: block;
    width: 100%;
}

#login-container label {
    font-size: 0.9em;
}

#login-container .submit-btn {
    width: 100%;
    padding: 15px 10px;
    background-color: #ffc107;
    border-radius: 4px;
    border: none;
    margin-top: 3rem;
    color: white;
    font-weight: bold;
    letter-spacing: 0.25px;
    cursor: pointer;
}

#login-container .login-heading {
    font-size: 3.5rem;
    font-weight: bold;
}

#login-container .reg {
    float: right;
    cursor: pointer;
}

#login-container .psw {
    cursor: pointer;
}

#login-container .rem-me {
    cursor: pointer;
}

#login-container .branding {
    color: white;
    z-index: 2;
    background-color: #efefef24;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
    margin-top: 6rem !important;
}

#login-container .mini-footer {
    list-style: none;
    /* margin-bottom: 5rem !important; */
    padding: 0;
    z-index: 2;
}

#login-container .mini-footer > li {
    display: inline;
    color:white;
    margin: 0 0.5rem;
}


#login-container .mini-footer > li a {
    color: inherit;
    font-weight: bold;
}


#login-container .mini-footer > li a:hover {
    margin: 0 0.5rem;
    color: white;
    cursor: pointer;
    text-decoration: underline;

}