:root {
    --website-khaki: #E9DD5A;
    --website-sea-green: #249D69;
    --website-brown: #461332;
    --website-deep-sea-green: #84C6A9;
    --website-slate-gray: #788782;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding:0;
}

body {
    font-family: 'Nunito', 'Sans-serif', Arial;
    background-color: white;
    -webkit-font-smoothing: antialiased;
    color:var(--website-khaki);
    padding:0;
	margin:0;
}

a, a:hover, a:focus {
    color: var(--website-deep-sea-green);
    text-decoration: none;
    transition: all .3s;
}

h1, h2 {
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 38px;
    font-weight: 300;
    color: var(--website-khaki);
    line-height: 50px;
}

/* items flex/expand vertically */
.vbox {
	display:         flex;
	flex-direction: column;
}

/* items flex/expand horizontally */
.hbox {
	display:    box;
	box-orient: horizontal;
	display:    flex;
    flex-direction: row;
}

.space-between {
	justify-content:flex-start;
    /*justify-content: space-between;*/
}

.main {
    flex: 1;
}