#home-content-container {
    margin-top: 5rem;
}

#home-content-container .page-heading {
    font-size: 2.5em
}

#home-content-container .page-subheading {
    /* padding: 0 1rem; */
}

 /* Faq */
#faq-container {
    padding-top: 3rem;
    padding-bottom: 5rem;
    min-height: 800px;
}

#faq-container .question {
    display: inline-block;
    font-weight: bold;
    font-size: 1.25em;  
    width: 100%;
    text-align: left;
    padding: 1.5rem 2.75rem;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    /* transition: ease 0.4s background-color; */
    /* border-bottom: thin solid lightgray;    */
}

#faq-container .question:focus {
    outline: none;
}
#faq-container .answer {
    line-height: 1.75;
    font-size: 1em;
    padding: 1.5rem 2.75rem;
}

#faq-container .answer a {
    line-height: 1.75;
    font-size: 1em;
}

#faq-container .chevron-down::after {
	content: "\f078";
}

#faq-container .question > svg {
    position: absolute;
    right: 3rem;
}

 /* Contact Us */
 #contact-container {
    padding-top: 3rem;
    padding-bottom: 9rem;
}

#contact-container .map-container {
    width: 100%;
    height: 300px;
    background: #ffecbb54;
    padding: 0rem;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 2px 10px 0 #00000033, 0 2px 32px 0 #0000001c;
    border: thin solid lightgray;
}

 /* Services */
 #service-container {
    padding-top: 3rem;
    padding-bottom: 9rem;
}

#service-container .pr-8 {
    padding-right: 5rem;
}

#service-container .service-badge {
    color: #c5c5c5;
    font-size: 1.5em;
    font-weight: bold;
}

#service-container .round-image-airplane {
    background: #ffc10742;
    border-radius: 50%;
    padding: 2rem;
    display: flex;
    align-items: center;
    width: 200px;
    justify-items: center;
    height: 200px;
}

 /* About Us */
 #about-us-container {
    padding-top: 3rem;
    padding-bottom: 5rem;
}

