:root {
  --font-main-colour: #111;
}

html{
	padding:0;
	margin:0;
}

body {
    font-family: 'Nunito', 'Sans-serif', Arial;
    color: var(--font-main-colour);
    background-color: white;
    -webkit-font-smoothing: antialiased;
    padding:0;
	margin:0;
}
/* some basic styles. nothing to do with flexbox */
header, footer,
nav, article, aside {
	border: 1px solid #333;
	padding: 0.25em;
	margin: 0;
	border-radius: 0;
}

* {
    box-sizing: border-box;
}

/*
Force full width & height.

If this block is removed, the layout height/length will be determined by
the amount of content in the page. That might result in a page which has
a footer only a few inches from the top of the viewport, or one which
scrolls beyond the viewport.

This forces the layout to always be full screen regardless of how much,
or how little, content is in place. Neither is "right" or "wrong", there
are valid cases for each. I just want to be clear what's controlling the
page/viewport height.
*/
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
}

/* encapsulate the various syntax in helper clases */
/* inspired by http://infrequently.org/2009/08/css-3-progress/ */

/* items flex/expand vertically */
.vbox {
	display:         flex;
	flex-direction: column;
}

/* items flex/expand horizontally */
.hbox {
	display: box;
	box-orient: horizontal;
	display:         flex;
    flex-direction: row;
}

.space-between {
	justify-content:flex-start;
    /*justify-content: space-between;*/
}

.main {
    flex: 1;
}

article {
   flex: 5;
   overflow-y:scroll;
   overflow-x:hidden;
}

aside, nav {
    flex: .5;
}
